.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.avatar {
  margin: 20px 0;
}

.avatar img {
  border-radius: 50%;
}

.socials {
  display: flex;
  width: 150px;
  justify-content: space-between;
}
